//Fonts
$main-font: 'Hind Siliguri', sans-serif;
$secondary-font: 'Arimo', sans-serif;

//Colors
$fuscous-gray: #4d4c49;
$white: #fff;
$gray: #828282;
$gray-two: #818181;
$green: green;
$red: red;
$button: #DD3333;
$button-hover: #9e1313;