@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap");
* {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style: none; }

nav a {
  text-decoration: none !important; }
  nav a:hover {
    color: inherit !important; }

button:hover {
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .container:before, .container:after {
    display: table;
    content: " "; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .container-fluid:before, .container-fluid:after {
    display: table;
    content: " "; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-right: -15px;
  margin-left: -15px; }
  .row:before, .row:after {
    display: table;
    content: " "; }
  .row:after {
    clear: both; }

.row-no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row-no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
body {
  background-color: black; }

.header {
  color: #fff;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto; }
  .header_changeLanguageButton {
    background-color: #DD3333;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 31px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    margin: 5px;
    width: 100px;
    height: 34px; }
    .header_changeLanguageButton:hover {
      background-color: #9e1313; }
  .header-title {
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none; }
  .header-title:hover {
    text-decoration: none;
    color: #fff; }

.strip-horizontal {
  width: 600px;
  height: 3px;
  background-color: #fff;
  width: 95%;
  margin: 0 auto; }

.strip-vertical {
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #fff; }

.homepage_buttons {
  display: flex;
  flex-direction: column; }
  .homepage_buttons-element {
    background-color: #DD3333;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 31px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    margin-top: 20px;
    width: 90px; }
    .homepage_buttons-element:hover {
      background-color: #9e1313; }
.homepage_left-block {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 768px) {
    .homepage_left-block {
      float: left;
      width: 100%; } }
  @media (min-width: 992px) {
    .homepage_left-block {
      float: left;
      width: 100%; } }
  @media (min-width: 1200px) {
    .homepage_left-block {
      float: left;
      width: 100%; } }
  .homepage_left-block-filters {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homepage_left-block-filters-item {
      margin: 5px; }
      .homepage_left-block-filters-item-title {
        color: #fff;
        font-family: "Hind Siliguri", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        font-weight: bold; }
      .homepage_left-block-filters-item-input {
        border: none;
        border-radius: 5px;
        width: 230px;
        padding: 5px;
        outline: none; }
      .homepage_left-block-filters-item-search {
        height: 30px;
        border: none;
        margin-left: -10px;
        background-color: white;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none; }
        .homepage_left-block-filters-item-search:hover {
          background-color: #9e1313; }
      .homepage_left-block-filters-item-reset {
        height: 30px;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
        width: 63px;
        outline: none; }
        .homepage_left-block-filters-item-reset:hover {
          background-color: #9e1313; }
      .homepage_left-block-filters-item-button {
        background-color: #DD3333;
        border: none;
        border-radius: 5px;
        width: 80px;
        height: 31px;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        outline: none;
        margin: 0 5px; }
        .homepage_left-block-filters-item-button:hover {
          background-color: #9e1313; }
.homepage_right-block {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  margin: 10px 0;
  padding: 10px 0 0 10px; }
  @media (min-width: 768px) {
    .homepage_right-block {
      float: left;
      width: 100%; } }
  @media (min-width: 992px) {
    .homepage_right-block {
      float: left;
      width: 100%; } }
  @media (min-width: 1200px) {
    .homepage_right-block {
      float: left;
      width: 100%; } }
  .homepage_right-block-rating {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: -10px; }
    .homepage_right-block-rating-title {
      color: #fff; }
    .homepage_right-block-rating-likes {
      margin: 10px 0 10px 0;
      color: red; }
    .homepage_right-block-rating-stars {
      background-position: 0px center, 17px center, 32px center, 47px center, 62px center;
      background-repeat: no-repeat;
      margin: 0 0 0 0;
      height: 14px;
      width: 80px; }
  .homepage_right-block-details {
    padding: 10px;
    margin-top: -11px;
    width: 50%;
    color: #fff;
    font-weight: 200;
    line-height: 25px; }
    .homepage_right-block-details-director {
      font-weight: 200; }
    .homepage_right-block-details-actors {
      font-weight: 200; }
    .homepage_right-block-details-genres {
      font-weight: 200; }
    .homepage_right-block-details-description {
      font-weight: 200; }
    .homepage_right-block-details-image {
      width: 100%;
      background-position: 50%; }

.nav {
  display: flex; }
  .nav_elem {
    margin: 0 10px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.loginRegister {
  margin-top: 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .loginRegister_form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .loginRegister_title {
    margin-bottom: 10px; }
  .loginRegister_input {
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none; }
  .loginRegister_button {
    margin: 10px 0 20px 0;
    background-color: #DD3333;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 31px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    outline: none; }
    .loginRegister_button:hover {
      background-color: #9e1313; }

.logout-button {
  background-color: #DD3333;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 31px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  float: right;
  margin-top: 5px;
  margin-right: 3%; }
  .logout-button:hover {
    background-color: #9e1313; }

.editor {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .editor_block {
    display: flex;
    color: #fff; }
    .editor_block-title {
      width: 100px;
      margin: 10px 10px;
      color: #fff;
      font-family: "Hind Siliguri", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      float: right;
      position: relative; }
    .editor_block-input {
      border-radius: 5px;
      padding: 5px;
      border: none;
      outline: none;
      width: 391px;
      margin: 10px 10px;
      height: 35px; }
    .editor_block-textarea {
      width: 391px;
      height: 500px;
      resize: none;
      outline: none;
      border-radius: 5px;
      margin: 10px 10px;
      padding: 5px; }
    .editor_block-buttons-element {
      background-color: #DD3333;
      border: none;
      border-radius: 5px;
      width: 80px;
      height: 31px;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      outline: none;
      margin: 20px 5px 20px 5px; }
      .editor_block-buttons-element:hover {
        background-color: #9e1313; }

.movieContainer {
  width: 100%;
  margin-top: 20px; }

.movieBlock {
  background-color: #fff;
  width: 110px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-table;
  margin: 10px;
  padding: 10px; }
  .movieBlock_likeDescriptionContainer {
    display: flex; }
  .movieBlock_rating-stars {
    background-position: 40px center, 56px center, 72px center, 88px center, 104px center;
    background-repeat: no-repeat;
    margin: 5px 0 0 10px;
    height: 14px;
    width: 120px;
    border-top: 1px solid black;
    margin: -1px 0 0 -11px; }
  .movieBlock_descriptionBlock {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-top: -11px;
    margin-right: -11px; }
    .movieBlock_descriptionBlock-image {
      width: 110px;
      background-position: 50%; }
      .movieBlock_descriptionBlock-image:hover {
        cursor: pointer; }
    .movieBlock_descriptionBlock-title {
      color: #fff;
      font-family: "Hind Siliguri", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      color: blue;
      font-weight: 900;
      font-size: 15px;
      line-height: 15px; }
      .movieBlock_descriptionBlock-title:hover {
        cursor: pointer;
        background-color: rgba(77, 218, 236, 0.514);
        border-radius: 5px; }
  .movieBlock_likeBlock {
    position: relative; }
    .movieBlock_likeBlock-likes {
      border-bottom: 1px solid black;
      margin-left: -11px;
      width: 40px;
      text-align: center;
      font-size: 11px; }
    .movieBlock_likeBlock-likeCounter {
      position: relative;
      bottom: 0;
      width: 100%; }
    .movieBlock_likeBlock-like {
      background-image: url(../../img/like.png);
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: none;
      background-position: 50%;
      background-repeat: no-repeat;
      outline: none;
      border-radius: 5px; }
      .movieBlock_likeBlock-like:hover {
        box-shadow: 3px 0 10px green;
        background-color: rgba(0, 255, 21, 0.342); }
    .movieBlock_likeBlock-dislike {
      background-image: url(../../img/dislike.png);
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: none;
      background-position: 50%;
      background-repeat: no-repeat;
      outline: none;
      border-radius: 5px; }
      .movieBlock_likeBlock-dislike:hover {
        box-shadow: 3px 0 10px red;
        background-color: rgba(255, 0, 0, 0.342); }

.one--star {
  background-image: url(../../img/star-one.png), url(../../img/star-zero.svg), url(../../img/star-zero.svg), url(../../img/star-zero.svg), url(../../img/star-zero.svg); }

.two--stars {
  background-image: url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-zero.svg), url(../../img/star-zero.svg), url(../../img/star-zero.svg); }

.three--stars {
  background-image: url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-zero.svg), url(../../img/star-zero.svg); }

.four--stars {
  background-image: url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-zero.svg); }

.five--stars {
  background-image: url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-one.png), url(../../img/star-one.png); }

.imgContainer {
  width: 100px;
  height: 100px;
  overflow: hidden; }

.titleContainer {
  height: 62px; }

/*# sourceMappingURL=style.css.map */
